* {
  font-family: 'Inter', 'Hind Siliguri', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --squid-ink: #07192D;
  --neon-blue: #04dbf6;
  --light-gray: #F8F8F8;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Temporary alert message */
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  margin-bottom: 30px;
}
.success {
  background: #4CAF50;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}

/* || Middle Section */

.feed-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  gap: 0px;
}

.feed-note-card {
  width: 100%;
  max-width: 720px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px -3px #111;
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
}

/* Author header row */
.fnc__first-row {
  display: block; /* Ensure block layout for vertical stacking */
}

.fnc__fr-header-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px; /* Add spacing below author section */
}

.fnc__fr-author-img-wrapper {
  display: flex;
  align-items: center;
}

.fnc__fr-author-img {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.fnc__fr-author-img:hover {
  filter: brightness(0.9);
}
.fnc__fr-author-img:active {
  filter: brightness(0.8);
}

.fnc__fr-note-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 0;
}

.note-info-wrapper--first-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.niw--fr-first-col {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.niw--fr-first-col-fr {
  width: 100%;
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.author-prfl-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: var(--squid-ink);
}

.author-prfl-link:hover{
  text-decoration: underline;
}
.author-prfl-link:visited{
  color: var(--squid-ink);
}

.niw--fr-first-col-fr-seperator {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--squid-ink);
}

.db-note-card-request-option {
  font-weight: 800;
  font-size: 14px;
  color: #00BBFF;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}

.db-note-card-request-option:hover {
  color: black;
}

.niw--fr-first-col-note-pub-date {
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.pinned-wrapper {
  margin-left: 8px;
}

.note-menu-btn {
  background: none;
  border-radius: 8px;
  padding: 2px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
}

/* Title row */
.fnc__title-row {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #EDEDED;
}

.fnc--note-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: var(--squid-ink);
  word-wrap: break-word;
}

/* Description */
.note-info-wrapper--second-row {
  width: 100%;
  padding: 10px 0;
}

.fnc--note-desc{
  width: 100%;
  font-weight: 450;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.note-desc-see-more-btn{
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  padding: 0 2px;
}
.note-desc-see-more-btn:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Thumbnail Grid */
.thumbnail-grid {
  display: grid;
  justify-content: center;
  gap: 8px;
  width: 100%;
  grid-template-columns: 60% 40%;
  align-items: stretch;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 2px;
  transition: filter 0.1s ease-in-out;
}

.thumbnail:hover {
  filter: brightness(90%);
}

.thumbnail:active {
  filter: brightness(85%);
}

.thumbnail-secondary-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  transition: filter 0.1s ease-in-out;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-secondary-wrapper:hover {
  filter: brightness(95%);
}

.thumbnail-secondary-wrapper:active {
  filter: brightness(90%);
}

/* Note Engagement */
.fnc__third-row{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fnc__tr--note-engagement-metrics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #D1CFCF;
}

.love-react-metric-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.love-react-icon-static {
  width: 24px;
  height: 24px;
  fill: #FF4D4D;
  transition: transform 0.2s ease;
}

.love-react-icon-static:hover {
  transform: scale(1.1);
}

.metric-count-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #868383;
}

.note-engagement {
  margin-bottom: -12px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-engagement .uv-icon {
  width: 24px;
  height: auto;
  all: unset;
  fill: white;
  display: flex;
  transition: fill 0.2s ease;
}

.note-engagement .uv-icon:hover{
  all: unset;
  cursor: pointer;
  fill: var(--light-gray);
}

.uv-container, .cmnt-engagement {
  width: 48%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.cmnt-engagement {
  padding-top: 8px;
}

.uv-container:hover {
  background-color: var(--light-gray);
  cursor: pointer;
  .uv-icon{
    fill: var(--light-gray);
  }
}
.cmnt-engagement:hover {
  background-color: var(--light-gray);
  cursor: pointer;
  .comment-icon{
    fill: var(--light-gray);
  }
}

.uv-container:active {
  background-color: var(--main-bg);
  .uv-icon{
    fill: var(--main-bg);
  }
}
.cmnt-engagement:active {
  background-color: var(--main-bg);
  .comment  -icon{
    fill: var(--main-bg);
  }
}

.uv-count {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.09em;
  color: #474747;
}

.comment-icon {
  width: 20px;
  height: auto;
  fill: #ffffff;
  display: flex;
  transition: fill 0.2s ease;
}

.fnc__tr--icon-label{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #474747;
}
.like-padding-top-5{
  padding-top: 5px;
}

.review-count{
  cursor: pointer;
}
.review-count:hover{
  text-decoration: underline;
}

/* Note Menu */
.note-menu {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-menu-btn { 
  background: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.note-menu-btn .note-menu-eclipse-icon rect {
  transition: fill 0.1s ease;
}

.note-menu-btn .note-menu-eclipse-icon {
  width: 20px;
  height: 20px;
}

.note-menu-btn .note-menu-eclipse-icon:hover rect {
  fill: #8c8c8c;
}

.note-menu-btn .note-menu-eclipse-icon:active rect {
  fill: gray;
}

.menu-options {
  flex-direction: column; 
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px; 
  background: #FAFAFA;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
  opacity: 0; 
  pointer-events: none; 
  transform: translateY(10px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1020;
}

.menu-options.active {
  opacity: 1;
  pointer-events: auto; 
  transform: translateY(0); 
}

.option {
  display: flex;
  align-items: center; 
  padding: 8px 16px;
  cursor: pointer;
  gap: 15px; 
}

.option:hover {
  background-color: #f0f0f0;
}

.option svg {
  flex-shrink: 0; 
  width: 24px; 
  height: 24px; 
}

.opt-label {
  color: #333;
  line-height: 1.2; 
  font-weight: 500;
  font-size: 0.8rem;
}

/* Save Note Button */
.save-note-btn {
  background: none;
  cursor: pointer;
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.save-note-btn .bookmark-fill-black {
  display: none; 
}

.save-note-btn.saved .bookmark-fill-white {
  display: none; 
}

.save-note-btn.saved .bookmark-fill-black {
  display: inline; 
}

.save-note-btn.active {
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
} 

/* Thumbnail Loading */
.thumbnail-loading {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hintloading 1s linear infinite alternate;
  -webkit-animation: hintloading 1s linear infinite alternate;
  svg {
    width: 20%;
    max-width: 40px;
    height: auto;
    opacity: .5;
  }
}

@keyframes hintloading {
  0% {
    background-color: hsl(0, 0%, 90%);
  }
  
  50% {
    background-color: hsl(0, 0%, 95%);
  }
  
  100% {
    background-color: hsl(0, 0%, 90%);
  }
}

@-webkit-keyframes hintloading {
  0% {
    background-color: hsl(0, 0%, 90%);
  }
  
  50% {
    background-color: hsl(0, 0%, 95%);
  }
  
  100% {
    background-color: hsl(0, 0%, 90%);
  }
}

/* Quick Post Styles */
.quickpost-thumbnail-wrapper {
  width: 100%;
  height: 350px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Image Styling (Full Width) --- */
.quickpost-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

/* --- Hover & Click Effects --- */
.quickpost-thumbnail:hover {
  filter: brightness(90%); 
}

.quickpost-thumbnail:active {
  filter: brightness(85%);
}

/* Media Queries */
@media (max-width:360px) {
  .middle-section {
    padding: 45px 0;
    padding-bottom: 100px;
  }
  .feed-container {
    width: 100%;
    gap: 0px;
  }
  .feed-note-card {
    border-radius: 0;
    padding: 10px;
  }
  .fnc__fr-author-img {
    width: 35px;
    height: 35px;
  }
  .author-prfl-link {
    font-size: 14px;
  }
  .db-note-card-request-option {
    font-size: 12px;
  }
  .niw--fr-first-col-note-pub-date {
    font-size: 11px;
  }
  .fnc--note-desc {
    font-size: 13px;
    padding: 8px 0;
  }
  .thumbnail {
    max-height: 300px;
  }
  .thumbnail-loading {
    height: 300px;
  }
  .quickpost-thumbnail-wrapper {
    height: 250px;
  }
}

@media (min-width:361px) and (max-width:480px) {
  .middle-section {
    padding: 50px 0;
    padding-bottom: 100px;
  }
  .feed-container {
    width: 100%;
    gap: 0px;
  }
  .feed-note-card {
    border-radius: 0;
    padding: 12px;
  }
  .fnc__fr-author-img {
    width: 40px;
    height: 40px;
  }
  .author-prfl-link {
    font-size: 15px;
  }
  .db-note-card-request-option {
    font-size: 13px;
  }
  .niw--fr-first-col-note-pub-date {
    font-size: 12px;
  }
  .fnc--note-desc {
    font-size: 14px;
    padding: 10px 0;
  }
  .thumbnail {
    max-height: 320px;
  }
  .thumbnail-loading {
    height: 320px;
  }
  .quickpost-thumbnail-wrapper {
    height: 270px;
  }
}

/* Confetti and Pop up for new user sign up celebration */
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  text-align: center;
  z-index: 1010;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 138, 138, 0.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  z-index: 1009;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--squid-ink);
  border: none;
  border-radius: 5px;
  color: var(--neon-blue);
  cursor: pointer;
}